@charset "UTF-8"
*{
	margin: 0px;
	padding: 0px;
}
.clearfn:after{
    content:"";
	clear:both;
	display:block;
	height:0;
	overflow:hidden;
	visibility:hidden;}
li{
	list-style: none;
}

.clearfn{zoom:1;}
/*<!-- header -->*/
.headerbox{
	background: #232323;
}
.headerbox .header-center{
	width: 1100px;
	height: 61px;
	background: #232323;
	margin:auto;
}
/*logo*/
.headerbox .header-center  .logo a img{
	margin-top:11px;
	margin-left: 50px;
	float: left;
}
/*导航*/
.headerbox .header-center ul{
	float: right;
	margin-top: 21px;
}
.headerbox .header-center ul li{
	border-right: 2px solid #444444;
	list-style: none;
	font-size: 12px;
	float: left;
}
.headerbox .header-center ul li a{
	color: #fffeff;
	text-decoration: none;
	padding: 0px 15px;
}
.headerbox .header-center ul .lastli{
	padding-right: 0px;
	border-right: none;
}
/*首图*/
.photo .photo1{
	width: 1100px;
	height: 420px;
	margin:0 auto;
	overflow: hidden;
}
/*中间四个内容模块*/
.content-box{
	background: #f5f5f5;
	height: 350px;
}
.content-box .content-center{
	width: 1012px;
	height: 288px;
	margin: 0 auto;
	position: relative;
	top:35px; 
}
.content-box .content-center a{
	float: left;
	border-right: 2px solid #dde5f0;
	display: block;
	width: 251px;
	height: 288px;
	text-decoration: none;
}
.content-box .content-center .content4 a{
	border-right:none;
}
.content-box .content-center div a ul li{
	list-style: none;
	color: #abbdcb;
	font-size: 12px;
	line-height: 18px;
}
.content-box .content-center div a ul{
	padding: 0;
	margin: 0;
	padding: 19px 67px 42px;
}
.content-box .content-center div a span{
	font-size: 12px;
	color: #556c7a;
	padding: 31px 40px;
}
.content-box .content-center div a h3{
	color: #233039;
	padding: 16px 86px 0px;
}
.content-box .content-center div a img{
	padding: 20px 0px 0px;
}
.content-box .content-center .content1 a img{
	padding-left: 100px;
}
.content-box .content-center .content2 a img{
	padding-left: 94px;
}
.content-box .content-center .content3 a img{
	padding-left: 65px;
}
.content-box .content-center .content4 a img{
	padding-left: 72px;
}
/*中间下部三个模块*/
.content-bottom{
	background: #ffffff;
}
.content-bottom .bottom-center{
	background: #ffffff;
	height: 308px;
	width: 1000px;
	margin: 0 auto;
}
.content-bottom .bottom-center .cbleft{
	margin: 40px 16px 40px 0px ;
	float: left;
	width: 316px;
}
.content-bottom .bottom-center .cbcenter{
	width: 338px;
	float: left;
	padding-top: 40px;
}
.content-bottom .bottom-center .cbcenter .cbcenter1{
	border-right:1px #dddee0 solid;

}
.content-bottom .bottom-center .cbcenter ol{
	padding-left: 0;
	font-size: 12px;
	color: #454442;
	line-height: 26px;
	list-style-image: url(../images/photo_07.png);
	
}
.content-bottom .bottom-center .cbcenter ol{
}

.content-bottom .bottom-center .cbcenter h3{
	margin:0;
	
	padding-bottom: 2px;
}
.content-bottom .bottom-center .cbcenter .span1{
	font-size:15px;
	color: #454442;
	line-height: 30px;
}
.content-bottom .bottom-center .cbcenter .p2{
	font-size: 12px;
	color:#999999;
	text-indent: 2em;
	line-height: 18px;
	padding-bottom: 10px;
	border-bottom: 1px dashed #ccc;
}
.content-bottom .bottom-center .cbright{
	width: 310px;
	float: right;
	padding-top: 40px;
	padding-left: 20px;
}
.content-bottom .bottom-center .cbright a img{
	margin:19px 0 28px ;

}
.content-bottom .bottom-center .cbright h3{
 	margin: 0;
 }
.content-bottom .bottom-center .cbright span{
	margin-bottom: 23px;
	font-size: 18px;
	color: #666664;
}
.content-bottom .bottom-center .cbright ul{
	padding: 0;
	font-size: 12px;
	line-height: 24px;
	color:#666666;
}
/*倒数第二个底部内容区*/
.footerbox{
	background: #222222;
}
.footerbox .footer-center{
	height: 214px;
	width: 1100px;
	margin: 0 auto;
	background: #222222;
}
.footerbox .footer-center .fleftbox{
	width: 492px;
}
.footerbox .footer-center .fleftbox .left{
	float: left;
	padding: 0;
	margin:0;
	padding-left: 10px;
	background: url(../images/xian_03.png) no-repeat;
	background-position:right center;
}
.footerbox .footer-center .fleftbox .left p{
	padding: 0;
	margin:0;
}
.left1,.left2,.left3,.left4{
	float: left;
}
.footerbox .footer-center .fleftbox .left li ul li a{
	font-size: 12px;
	line-height: 24px;
	color: #9a9a9a;
	text-decoration: none;
}
.footerbox .footer-center .fleftbox .left li p{
	font-size: 12px;
	color: #ffffff;
	padding: 51px 0 24px 0;
	text-align: center;
}
.footerbox .footer-center .fleftbox .left li ul{
	padding:0;
}
.footerbox .footer-center .fleftbox .left li{
    padding: 0 20px 0 10px;
}
/*中间*/
.footerbox .footer-center .fcenter {
	width: 322px;
	height: 214px;
	float: left;
	background: url(../images/xian_03.png) no-repeat;
	background-position:right center;
	height: 200px;
}
.footerbox .footer-center .fcenter img{
	padding: 22px 47px;
}
/*右边*/
.footerbox .footer-center .fcright{
	float: left;
}
.footerbox .footer-center .fcright img{
	padding-top: 20px;
	padding-left: 33px;
}
.footerbox .footer-center .fcright span{
	line-height: 18px;
	font-size:12px;
	color: #464648;
}
.footerbox .footer-center .fcright .span1{
	padding-left: 65px;
}
.footerbox .footer-center .fcright .span2{
	padding-left: 76px;
}
/*最底部*/
.bottombox {
	width: 100%;
	background: #101010;
}
.bottombox .bottom{
	background: #101010;
	margin:0 auto;
	height: 45px;
	width: 1100px;
	font-size: 12px;
	color: #9a9a9a;
	line-height: 45px;
	text-align: center;
}
.bottombox .bottom span,a{
	padding-top: 16px;
}
.bottombox .bottom a{
	color: #9a9a9a;
	text-decoration: none;
	padding-left: 3px;
}